html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.animate-fadein-blocks {
    animation: fade-in .4s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    margin-top: 0px;
}

h4, h5 {
    margin-bottom: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 3rem 0px;
    background-color: white;
    box-sizing: border-box;
}

.header {
    padding: 25px;
    position: relative;
    text-align: center;
}

.header .title {
    flex: 1;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.header .menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
}

.header .cart-icon {
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar div {
    margin: 5px 15px 5px 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}

.navbar div:hover {
    background-color: rgb(44, 44, 44);
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .inner-sidenav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
}

.sidenav .inner-sidenav div {
    padding: 10px 5px 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
}

.landing-page-div {
    text-align: center;
    width: 94%;
    margin: 0 auto;
}

.landing-page-div div {
    margin-bottom: 2rem;
}

.landing-page-div img {
    margin-top: 20px;
    border-radius: 5px;
}

.landing-page-div .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-div .tshirts-section {
    display: flex;
    justify-content: center;
    height: 40rem;
}

.landing-page-div .tshirts-section .mens-tshirts-section, .landing-page-div .tshirts-section .ladies-tshirts-section {
    flex: 1;
}

.btn {
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid rgb(44, 44, 44);
    padding: 10px;
    width: 9rem;
}

.show-now-btn :hover {
    background-color: rgb(44, 44, 44);
    color: white;
}

.mens-outerwear-img {
    background-image: url('/images/mens_outerwear.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

.ladies-outerwear-img {
    background-image: url('/images/ladies_outerwear.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

.mens-tshirts-img {
    background-image: url('/images/mens_tshirts.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

.ladies-tshirts-img {
    background-image: url('/images/ladies_tshirts.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

.mens-outerwear-div {
    display: none;
    text-align: center;
    border-radius: 5px;
}

.mens-outerwear-div h4 {
    letter-spacing: 1px;
}

.ladies-outerwear-div {
    display: none;
    text-align: center;
    border-radius: 5px;
}

.mens-tshirts-div {
    display: none;
    text-align: center;
    border-radius: 5px;
}

.ladies-tshirts-div {
    display: none;
    text-align: center;
    border-radius: 5px;
}

.apparel-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.mens-hoodie {
    background-image: url('images/hoodie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24rem;
}

.ladies-jacket {
    background-image: url('images/l_jacket.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24rem;
}

.mens-tshirts {
    background-image: url('images/m_tshirt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24rem;
}

.ladies-tshirts {
    background-image: url('images/l_tshirt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24rem;
}

.apparel-details-div {
    display: none;
    margin-top: 4rem;
    justify-content: center;
}

.apparel-details-div .apparel-img {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40rem;
}

.apparel-details-div .apparel-info {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.apparel-details-div .apparel-info .name-and-price {
    margin-bottom: 3rem;
}

.apparel-details-div .apparel-info .dropdown-component {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-width: 30rem;
}

.apparel-details-div .apparel-info .description, .apparel-details-div .apparel-info .features {
    max-width: 30rem;
}

.apparel-details-div .apparel-info .dropdown-component label {
    flex: 1;
    padding-top: 10px;
}

.apparel-details-div .apparel-info .dropdown-component select {
    flex: 4;
    width: 20rem;
    background-color: transparent;
    font-size: medium;
    border: none;
    padding: 10px;
}

/* This is for Mobile Devices */

@media(max-width:768px) {
    .navbar {
        display: none;
    }
    .header .menu-icon {
        display: flex;
    }
    .sidenav {
        padding-top: 15px;
    }
    .landing-page-div .tshirts-section {
        display: block;
    }
    #add-to-cart {
        position: fixed;
        bottom: 0;
        background-color: rgb(44, 44, 44);
        color: white;
        left: 0;
        width: 100%;
    }
    .apparel-details-div {
        flex-direction: column;
        margin: 0;
    }
    .apparel-details-div .apparel-info {
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .apparel-details-div .apparel-img {
        height: 20rem;
    }
    .apparel-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cart-div {
    text-align: center;
    display: none;
}

.cart-div .cart-item img {
    height: 6rem;
}

.cart-div .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.cart-div .cart-item .cart-item-details {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.cart-div .cart-item .cart-item-details .apparel-name {
    margin-right:10rem;
}

.cart-div .total-and-checkout {
    width: 89%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-div .total-and-checkout label {
    margin-right: 5rem;
    font-weight: bold;
}

/* Animations to fade the snackbar in and out */

.snackbar {
    visibility: hidden;
    min-width: 300px;
    transform: translate(-50%);
    color: rgb(44, 44, 44);
    background-color: white;
    border: 2px solid rgb(44, 44, 44);
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

.showSnackbar {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}